<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Wisej.LicenseKey" value="442a137d0d72af38a72ef673f2a3bfa0"/>
    <add key="Wisej.DefaultTheme" value="Clear-3"/>
    <add key="Wisej.RibbonBar" value="Clear-3"/>
  </appSettings>
  <connectionStrings>
    <add name="Connection_VISION" connectionString="Password=tr1net784;Persist Security Info=True;User ID=login;Initial Catalog=VISION;Data Source=." providerName="System.Data.SqlClient" />
    <!--<add name="Connection_VISION" connectionString="Password=tr1net784;Persist Security Info=True;User ID=login;Initial Catalog=VISION;Data Source=10.219.168.94" providerName="System.Data.SqlClient" />-->
    <add name="Connection_LOGO" connectionString="Password=tr1net784;Persist Security Info=True;User ID=login;Initial Catalog=LOGODB;Data Source=.;" providerName="System.Data.SqlClient" />
    <!--<add name="Connection_WEB" connectionString="Password=tr1net784;Persist Security Info=True;User ID=login;Initial Catalog=GATE_DB;Data Source=213.144.108.220;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>
    <compilation debug="true">
      <assemblies>
        <!--
        Add additional components here:
        <add assembly="Wisej.Web.Ext.JustGage"/>
        -->
     </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules>
      <add name="Wisej" type="Wisej.Core.HttpModule, Wisej.Core"/>
    </modules>
    <handlers>
      <add name="json" verb="*" path="*.json" type="System.Web.HttpForbiddenHandler" />
      <add name="wisej" verb="*" path="*.wx" type="Wisej.Core.HttpHandler, Wisej.Core"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="Default.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>